<html>
  <head>
    <title>Sunlightly</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    
  </head>
  <body>
    <div id='app'>

      <div id="login-div" v-bind:class="login_class">
        <div class="sunlightly-gradient jumbotron">
          <div class="container">
            <h1 id="sunlightly-logo" class="display-1 text-center font-weight-bold">Sunlightly</h1>
          </div>
        </div>
        <div id="login-content-div">
          <div>
            <h1 class="text-center"><strong>Let's get growing!</strong></h1>
            <h3 class="text-center">Welcome to your activity tracker</h3>
            <h3 class="text-center">tool with plant visualization</h3>
          </div>
          <div class="form-outline">
            <div class="col-xs-3">
              <label class="form-label login-lb" for="typeText">Username</label>
              <input v-model="login_username" type="text" id="login-username-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Password</label>
              <input v-model="login_password" type="text" id="login-password-input" class="form-control input-lg" />
              <button v-on:click="sendLogin" id="login-submit-button" type="submit" class="btn btn-primary">Log In</button>
              <button v-on:click="redirectSignUp" id="sign-up-submit-button" type="submit" class="btn btn-primary">New User? Sign Up</button>
            </div>
          </div>
        </div>
      </div>

      <div id="sign-up-div" v-bind:class="sign_up_class">
        <div class="sunlightly-gradient jumbotron">
          <div class="container">
            <h1 id="sunlightly-logo2" class="display-1 text-center font-weight-bold">Sunlightly</h1>
          </div>
        </div>
        <div>
          <div class="form-outline col-md-6">
            <div class="col-xs-6">
              <h1><strong>Sign Up</strong></h1>
              <label class="form-label login-lb" for="typeText">Username</label>
              <input v-model="new_username" type="text" id="login-username-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Password</label>
              <input v-model="new_password" type="text" id="login-password-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Confirm Password</label>
              <input v-model="new_confirm_password" type="text" id="login-password-input" class="form-control input-lg" />
              <button v-on:click="sendSignUp" id="login-submit-button" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div id="how-to" class="col-md-6">
            <h1><strong>How To Play</h1></strong>
            <h4>First, click "choose plant" to add a new plant to your garden</h4>
            <h4>Each plant comes with a corresponding activity</h4>
            <h4>First, check your plant's activity bonus. Then spend time playing outside</h4>
            <h4>Input your total time outside in the sunlight field. Sunlight grows all your plants slightly</h4>
            <h4>Input all time corresponding to a specific plant's acitivity in the water field. Water grows a specific plant</h4>
            <h4>If you completed the activity bonus for a plant, click the activity bonus button. Completing the activity bonus significantly grows the corresponding plant</h4>
          </div>
        </div>
      </div>

      <div id="main-screen-div" v-bind:class="main_screen_class">
        <p>Main Screen</p>
      </div>
    </div>

       
        <script type="module">
            import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js'
            import firebase from '@firebase/app'

            const firebaseConfig = {
            apiKey: "AIzaSyCRkfhPULJP3gdkPvfCs96bmnNpzJr3m4Y",
            authDomain: "sunlightly-2a739.firebaseapp.com",
            projectId: "sunlightly-2a739",
            storageBucket: "sunlightly-2a739.appspot.com",
            messagingSenderId: "130278659080",
            appId: "1:130278659080:web:a4f406c6369a2716d62dbd",
            measurementId: "G-5VKCJRK2RF"
            };

            const firebaseApp = initializeApp(firebaseConfig);
            console.log(firebaseApp)
        </script>
        <script src="scripts/page.js"></script>
  </body>
</html>
