<html>
  <head>
    <title>Sunlightly</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  </head>
  <body>
    <div id='app'>

      <div id="login-div" v-bind:class="login_class">
        <div class="sunlightly-gradient jumbotron">
          <div class="container">
            <h1 id="sunlightly-logo" class="display-1 text-center font-weight-bold">Sunlightly</h1>
          </div>
        </div>
        <div id="login-content-div">
          <div>
            <h1 class="text-center"><strong>Let's get growing!</strong></h1>
            <h3 class="text-center">Welcome to your activity tracker</h3>
            <h3 class="text-center">tool with plant visualization</h3>
          </div>
          <div class="form-outline">
            <div class="col-xs-3">
              <label class="form-label login-lb" for="typeText">Username</label>
              <input v-model="login_username" type="text" id="login-username-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Password</label>
              <input v-model="login_password" type="text" id="login-password-input" class="form-control input-lg" />
              <button v-on:click="sendLogin" id="login-submit-button" type="submit" class="btn btn-primary btn-lg">Log In</button>
              <button v-on:click="redirectSignUp" id="sign-up-submit-button" type="submit" class="btn btn-primary btn-lg">New User? Sign Up</button>
            </div>
          </div>
        </div>
      </div>

      <div id="sign-up-div" v-bind:class="sign_up_class">
        <div class="sunlightly-gradient jumbotron">
          <div class="container">
            <h1 id="sunlightly-logo2" class="display-1 text-center font-weight-bold">Sunlightly</h1>
          </div>
        </div>
        <div>
          <div class="form-outline col-md-6">
            <div class="col-xs-6">
              <h1><strong>Sign Up</strong></h1>
              <label class="form-label login-lb" for="typeText">Username</label>
              <input v-model="new_username" type="text" id="login-username-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Password</label>
              <input v-model="new_password" type="text" id="login-password-input" class="form-control input-lg" />
              <label class="form-label login-lb" for="typeText">Confirm Password</label>
              <input v-model="new_confirm_password" type="text" id="login-password-input" class="form-control input-lg" />
              <button v-on:click="sendSignUp" id="login-submit-button" type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
          <div id="how-to" class="col-md-6">
            <h1><strong>How To Play</h1></strong>
            <h4>First, click "choose plant" to add a new plant to your garden</h4>
            <h4>Each plant comes with a corresponding activity</h4>
            <h4>First, check your plant's activity bonus. Then spend time playing outside</h4>
            <h4>Input your total time outside in the sunlight field. Sunlight grows all your plants slightly</h4>
            <h4>Input all time corresponding to a specific plant's acitivity in the water field. Water grows a specific plant</h4>
            <h4>If you completed the activity bonus for a plant, click the activity bonus button. Completing the activity bonus significantly grows the corresponding plant</h4>
          </div>
        </div>
      </div>

      <div id="main-screen-div" v-bind:class="main_screen_class">
        <div class="row">
          <div class="col-md-4">
            <h1 class="main-page-headers" id="sunlightly-logo">Sunlightly</h1>
          </div>
          <div class="col-md-4">
            <h1 class="main-page-headers" style="text-align:center;">{{ new_username === "" ? login_username : new_username }}'s Garden </h1>
          </div>
          <div class="col-md-4">
            <button v-on:click="logOut" id="logout-button" type="button" class="btn btn-danger btn-lg" style="float:right;">Log Out</button>
          </div>
        </div>
        <div class="row" id="sunlight-input">
          <div class="col-md-2">
            <div class="input-group mb-3">
              <input type="text" v-model="added_sunlight" class="form-control input-sm" placeholder="Input hours spent outdoors" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button v-on:click="addSunlight" class="btn btn-primary btn-lg" type="button" id="button-addon2">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button v-on:click="addPlant" id="add-plant-button" type="button" class="btn btn-success btn-lg">Add Plants</button>
        </div>

        <div class="row" id="flowerpots-div">
          <div v-for="(plant, index) in active_plants" class="col-md-2 text-center flowerpot-margin">
            <img src="images/flowerpot.png" id="flowerpot-img" class="flowerpot-shift"/>
            <img v-if="plant.name != 'Empty'" v-bind:src="bindImage(index)" class="display-img"/>
            <div class="d-flex justify-content-center flex-row">
              <h2 class="p-2">{{plant.name}}</h2>
              <button v-if="plant.name != 'Empty'" v-on:click="removePlant(index)" class="btn btn-danger btn-sm" type="button">Remove</button>
            </div>
            <div v-if="plant.name != 'Empty'" class="progress progress-bar-div">
              <div class="progress-bar progress-bar-striped"
                   role="progressbar"
                   v-bind:style="{ width: plant.growth + '%'}"
                   v-bind:aria-valuenow="plant.growth"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
            <h2>{{plant.activity}}</h2>
            <div v-if="plant.name != 'Empty'" class="input-group mb-3">
              <input v-model="plant.added_value" type="text" class="form-control input-sm" v-bind:placeholder="'Input hours spent on ' + plant.activity" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button v-on:click="addWater(index)" class="btn btn-primary btn-lg" type="button" id="button-addon2">Submit</button>
              </div>
            </div>
            <div v-if="plant.name != 'Empty'" class="d-flex justify-content-center flex-row">
              <h2 class="p-2">Bonus: </h2>
              <button v-on:click="addBonus(index)" class="btn btn-primary btn-lg" type="button">{{plant.current_bonus}}</button>
            </div>
          </div>
        </div>
      </div>

      <div id="plant-selection-div" v-bind:class="plant_selection_class">
        <h1 class="display-2 selectionHeaders"><strong>Select a plant!</strong></h1>
        <div class="row">
          <div v-for="(plant, index) in plants" class="col-md-3 text-center">
            <img v-bind:src="plant[1][4]" class="clickable" v-on:click="selectActivity(index)"/>
            <h1>{{plant[0]}}</h1>
          </div>
        </div>
      </div>

      <div id="activity-selection-div" v-bind:class="activity_selection_class">
        <h1 class="display-2 selectionHeaders"><strong>Select an activity for this plant!</strong></h1>
        <div v-for="(activity, index) in activities" class="col-md-4 text-center activity-options">
          <h1 class="display-4 clickable font-weight-bold" v-on:click="redirectMainScreen(index)"><strong>{{activity[0]}}</strong></h1>
        </div>
      </div>

    </div>


    <script type="module" src="scripts/page.js"></script>
  </body>
</html>
