
/*Elements*/
/***************************************/

:root {
    --gradient: linear-gradient(
        45deg,
        rgba(36,140,102,1) 3%,
        rgba(165,201,120,1) 31%,
        rgba(104,140,47,1) 55%,
        rgba(47,180,32,1) 84%
      )
}

/*Classes*/
/***************************************/
.hidden {
  display: none;
}

.login-lb {
  font-size: 2em;
}
#login-submit-button {
  margin-top: 20px;
  margin-right: 50px;
}
#sign-up-submit-button {
  margin-top: 20px;
}
#login-div {
  height: 100%;
  background-color: #EEEEEE;
}
#sunlightly-logo {
  color: lemonchiffon;
}

.flowerpot-margin {
  margin-left: 100px;
  margin-right: 100px;
}

.sunlightly-gradient {
  height: 250px;
  margin: 0px;
  background: #ddd;
  background-image: var(--gradient);
  animation: bg-animation 10s infinite alternate;
  background-size: 400%;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#sign-up-div {
  height: 100%;
  background-color: #EEEEEE;
}
#sunlightly-logo2 {
  color: lemonchiffon;
}
#how-to {

}

#main-screen-div {
  height: 100%;
  background-color: #92e29f;
  padding: 20px;
}
.main-page-headers {
  font-size: 42px;
}
#sunlight-input {
  margin-top: 30px;
  margin-bottom: 10px;
}
#flowerpot-img {
  width: 200px;
  height: 175px;
}
.image_holder {
  position: relative;
  display: block;
}
.display-img {
  /* position: absolute;
  width: 150px;
  height: 225px;
  top: 30px;
  left: 50px; */
  position: absolute;
  width: 150px;
  height: 225px;
  top: 30px;
  left: 50px;
  padding: 0px;
  margin: 0px;
}
.fix-width {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
}
.login-redirect {
  margin-top: 100px;
}
.flowerpot-shift {
  margin-top: 200px;
}
#flowerpots-div {
  margin-top: 0px;
}
.progress-bar-div {
  margin-top: 10px;
}

#plant-selection-div {
  height: 100%;
  background-color: #92e29f;
  padding: 20px;
}
.clickable {
  cursor: pointer;
}
.selectionHeaders {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
.activityText {
  outline: 3px solid black;
}

#activity-selection-div {
  height: 100%;
  background-color: #92e29f;
  padding: 20px;
}

#stats-div {
    height: 3000px;
    background-color: #92e29f;
    padding: 20px;
}

.activity-options {
  margin-bottom: 125px;
}

.page_background {
  background-color: #92e29f;
}

#stats-plant {
    display: flex;
    align-items: center;
    margin: 10px;
}

.stats-font {
    font-size: 40px;
    margin: 20px;
}

.stats-header {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
